<% include partials/header %>
<html>
<head>
    <title>
        CampingApp
    </title>
    <body>
        <h1>
        <p>Welcome to CampingApp!</p></h1>
         <p> We have some of the best Camping grounds</p>

        <a href="/campgrounds">Show All Campgrounds</a>
        
    </body>
</head>
</html>



<% include partials/footer %>
    