<% include ./partials/header %> 

<h1 style="text-align: center">Login!</h1> 
<form action="/login" method="POST" style="text-align: center">
    <input type="text" name="username" placeholder="username" margin= 20px><br>
    <input type="password" name="password" placeholder="password" margin = 50px><br>
    <input type="submit" value="Login!">
</form>


<% include ./partials/footer %> 
