<% include ./partials/header %> 
<html>
    <head>
      
        <body>
            <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Sign Up!</h1><br>
            <form action="/register" method="post" style="text-align: center">
                Username:
               <input type="text" name="username" ><br>
                Password:
               <input type="password" name="password" ><br><br>
               <button>Sign Up</button>
             </form>
             </div>
             </div>
        </body>
    </head>




<% include ./partials/footer %> 
</html>